{% extends 'base.html' %}
{% block title %}Reject Submission{% endblock %}

{% block content %}
<div class="container py-5 d-flex justify-content-center">
  <div class="overlay-box p-4" style="max-width: 450px; width:100%;">
    <h4 class="fw-bold mb-4 text-center">
      Reject Submission
    </h4>

    <p class="text-center">
      Student: <strong>{{ submission.enrollment.student.username }}</strong>
    </p>

    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label fw-semibold">
          Reason for rejection
        </label>
        <textarea name="reason"
                  rows="3"
                  class="form-control"
                  required></textarea>
      </div>

      <div class="d-flex justify-content-between">
        <a href="{% url 'view_submissions' submission.assignment.id %}"
           class="btn btn-outline-secondary">
           Cancel
        </a>

        <button type="submit"
                class="btn btn-danger">
          Reject
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}